@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}
.brand-logo {
  font-family: "Grand Hotel", cursive;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  margin: 26px auto;
  max-width: 500px;
  height: max-content;
}
#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
