@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}
.brand-logo {
  font-family: "Grand Hotel", cursive;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  margin: 26px auto;
  max-width: 500px;
  height: max-content;
}
#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
.material-icons:hover {
  cursor: pointer;
}
.collection-item {
  width: 100%;
}

.modaltest {
  color: black;
  top: -50% !important;
  height: 30%;
}

.inputtest {
  display: inline !important;
  width: 90% !important;
  margin-top: -8% !important;
}

.itest {
  display: inline !important;
  margin-left: 95% !important;
  float: right !important;
  width: 85px !important;
}

.onhover:hover .tooltiptext {
  visibility: visible;
}
.onhover .tooltiptext {
  visibility: hidden;
  width: 120px;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.cardbotle {
  max-width: 614px;
}
.imgbolte {
  max-height: 750px;
}
